body{
    font-family: "Oxanium", cursive;
    background-color: #000000;
    color: #ffffff;
}

body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Cor do "polegar" da barra de rolagem */
    border-radius: 4px;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); /* Cor do "polegar" da barra de rolagem quando em hover */
}
  
body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Cor da "trilha" da barra de rolagem */
    border-radius: 4px;
}

body::before{
    content: "";
    background-image: url(../imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.cabecalho{
    display: flex;
    justify-content: center;
}

/* .logo {
    width: 100px;
    height: 100px;
} */

.selecao-de-personagens{
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
}

.selecao-de-personagens .lista-de-personagens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.selecao-de-personagens .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}

.selecao-de-personagens .personagens .titulo{
    position: sticky;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%;
    text-align: center;
}

.lista-de-personagens {
    overflow-y: auto;
}

.lista-de-personagens li {
    margin-top: 25px;
    margin-bottom: -20px;
}

.lista-de-personagens .personagem img{
    width: 110px;
    height: 100%;
}

.lista-de-personagens .personagem.selecionado{
    box-shadow: 0px 0px 24px 5px #0271f7;
}

.personagem-selecionado{
    text-align: center;
    max-height: 530px;
    margin-left: 50px;
}

.lista-de-personagens::-webkit-scrollbar {
    width: 8px;
}
  
.lista-de-personagens::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Cor do "polegar" da barra de rolagem */
    border-radius: 4px;
}
  
.lista-de-personagens::-webkit-scrollbar-thumb:hover {
    background: rgba(71, 244, 255, 0.8); /* Cor do "polegar" da barra de rolagem quando em hover */
}
  
.lista-de-personagens::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Cor da "trilha" da barra de rolagem */
    border-radius: 4px;
}

.personagem-selecionado .personagem-grande{
    width: 430px;
    height: 430px;
}

.personagem-selecionado .informacoes-personagens {
    width: 500px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}